#title {
  background-color: #ff4c68;
  color: #fff;
}

.logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Ubuntu";
  font-weight: lighter;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

#iphone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 991px) {
  #iphone {
    position: static;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.sect {
  text-align: center;
  padding: 5%;
}

h3 {
  font-weight: bolder;
}

p {
  color: #8f8f8f;
}

.fa-4x {
  padding-bottom: 10%;
  color: #ef8172;
}

.fa-4x:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

h2 {
  font-family: "Montserrat";
  font-weight: 800;
  line-height: 1.5;
  font-size: 2.5rem;
}

.testimonial-img {
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 6%;
}

.pres {
  width:12%;
  margin: 3% 6%;
}

.pricing-hding {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2.5rem;
}

.pricing-para {
  padding-bottom: 1%;
}

/* Pricing Section */

#pricing {
  text-align: center;
  padding: 100px 100px 50px;
}

.pricing-column {
  padding: 3% 2%;
}


#cta {
  text-align: center;
  padding: 8%;
  background-color: #ff4c68;
}

.cta-para {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  padding: 4% 10%;
}

.cta-btn {
  margin: 1.1%
}

#footer {
  background-color: #fff;
  text-align: center;
  padding: 35px;
  line-height: 1.5;
}

#copyright {
  padding-top: 8px;
  font-family: "Montserrat";
  margin-top: 20px;
}

